  .mat-success{
    background-color: #090C9B;
    color: #fff;

  }
  #container{
    position: sticky; 
    top: 0px; 
    padding: 10px 0px;
  }
  .section{
    margin-bottom: 1000px;
  }
  .timer {
    margin-top:20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
  }
  .timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  body{
    font-family: 'Nunito', sans-serif;
    /*padding: 50px; */
   
  }
  .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        padding: 14px 80px 18px 36px;
         cursor: pointer;
         width: 70%;
         margin: 7%;
         margin-top: -88%;
       
  }
 
  button{
      float: left;
  }
  .card p {
      padding: 33px;
      font-weight: 350;
     
  }
  .card form{
      padding: 43px;
      margin-top: -50px;
  }
  .card:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card h3{
    font-weight: 600;
  }
  
  .card img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
  
  .card-3{
    background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
       background-repeat: no-repeat;
     background-position: right;
     background-size: 80px;
 }
  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  } 
  

#container{
  display: none;
}