

<table mat-table #table [dataSource]="this.users" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.position==1"> <img src="/assets/img/icons/gold.png" style="width: 40px;"></span>
        <span *ngIf="element.position==2"> <img src="/assets/img/icons/silver.png" style="width: 40px;"></span>
        <span *ngIf="element.position==3"> <img src="/assets/img/icons/bronze.png" style="width: 40px;"></span>
        <span *ngIf="element.position > 3"> {{element.position}}</span>
     </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="photoURL">
      <th mat-header-cell *matHeaderCellDef> total submit </th>
      <td mat-cell *matCellDef="let element"> {{element.photoURL}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
