mat-toolbar{
    background-color: rgb(250, 249, 249) ;
}
 #right button{
    overflow: auto;
    float: right !important;

}
#right button{
    margin: 9px;
    overflow: auto;
    float: right !important;
}

.example-spacer {
    flex: 1 1 auto;
  }

  #right img {
      cursor: pointer;
      border-radius: 50%;
      width: 34px ;
      height: auto;
      margin-top: 11px;
      margin-right: -7px;
  }

.event{
    color: #5f6368;
    font-size: 14px;
    text-transform: none ;
    cursor: pointer;
    font-weight: 400 ;
    margin-right: 23px;
}

 