<!-- We can add a navbar here -->
<mat-drawer-container class="example-container" autosize>
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>

    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option>
        Manage user
      </mat-list-option>
      <a [routerLink]="['/dashboard/add-event']">
      <mat-list-option >
       Add event 
      </mat-list-option>
    </a>
      <mat-list-option>
        List event
      </mat-list-option>
      <mat-list-option>
        Receive work
      </mat-list-option>
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>
    
    <p>
      Option selected: {{shoes.selectedOptions.selected[0]?.value}}
    </p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
    
  </div>

</mat-drawer-container>


      

  
   