<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">


    
    
      <div class="card card-2">
        <h3>Contact us panel</h3>
        <p>Your encouter any problem or you want to inquire about something or you want to send us a message and feedback ? <br>
             <strong>go ahead</strong> we are ready to answer !</p>
             
        <form>
            <mat-grid-list cols="5">
            <mat-grid-tile  [colspan]="4">
                 <mat-form-field class="example-full-width">
                <mat-label>Leave a message</mat-label>
                <textarea matInput placeholder="It makes us feel happy to listen from you..."></textarea>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" >
                <button mat-raised-button color="primary">Send</button>
            </mat-grid-tile>
        </mat-grid-list>
        </form>
      </div>
   
    <!-- Theming
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Theming</h3>
        <p>Learn how to easily customize and modify your app’s design to fit your
          brand across all mobile platform styles.</p>
      </div>
    </div>
     /theming-->

